.button-container {
    width: fit-content;
  }
  
  .cornered-button {
    border-radius: unset;
  }
  
  .icon-container {
    margin-right: 5px;
  }
  
  .outlined-button {
    background-color: unset;
  }
  